<% layout('/layouts/boilerplate') -%>

<body>
  <h3>Listings</h3>
  <!-- <form method="get" action="/listings/new">
      <button>Create new</button>
  </form> -->
  <div class="row justify-content-around pb-3 row-cols-3">
    <%for(data of initData){%>
    <a href="/listings/<%= data._id %>/show">
      <div class="card index-img listing-card" style="width: 18rem">
        <img src="<%= data.image %>" class=" card-img-top" alt="listing image" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><%= data.title %></p>
          <p>&#8377;<%= data.price.toLocaleString("en-IN") %> / night</p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
</body>
