<% layout('/layouts/boilerplate') -%>
<body>
  <h3>Create New</h3>
  <form method="post" action="/listings">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="mb-2">
          <label for="title" class="form-label">Title</label>
          <input
            required
            type="text"
            class="form-control"
            name="title"
            placeholder="Enter Title"
          /><br /><br />
        </div>
        <div class="mb-2">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="description"
            class="form-control"
            placeholder="Enter Description"
          ></textarea
          ><br /><br />
        </div>
        <div class="row">
          <div class="mb-2 col-8">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="price"
              class="form-control"
              placeholder="Enter Price"
              required
            /><br /><br />
          </div>
          <div class="mb-2 col-4">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="location"
              class="form-control"
              placeholder="Enter Location"
              required
            /><br /><br />
          </div>
        </div>
        <div class="mb-2">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            name="country"
            placeholder="Enter Country"
            required
          /><br /><br />
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
    </div>
  </form>
</body>
