<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create New</h3>
    <form method="post" action="/listings">
        <input type="text" name="title" placeholder="Enter Title"><br><br>
        <input type="text" name="description" placeholder="Enter Description"><br><br>
        <input type="number" name="price" placeholder="Enter Price"><br><br>
        <input type="text" name="location" placeholder="Enter Location"><br><br>
        <input type="text" name="country" placeholder="Enter Country"><br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>