<% layout('/layouts/boilerplate') -%>

  <body>
    <h3>Create New</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input required type="text" class="form-control" name="title" placeholder="Enter Title" />
            <div class="valid-feedback">
              It is Correct!
            </div>
            <div class="invalid-feedback">
              Title should be valid.
            </div>
          </div>
          <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea required type="text" name="description" class="form-control"
              placeholder="Enter Description"></textarea>
            <div class="valid-feedback">
              It is Correct!
            </div>
            <div class="invalid-feedback">
              Description should be valid.
            </div>
          </div>
          <div class="row">
            <div class="mb-2 col-8">
              <label for="price" class="form-label">Price</label>
              <input type="number" name="price" class="form-control" placeholder="Enter Price" required />
              <div class="valid-feedback">
                It is Correct!
              </div>
              <div class="invalid-feedback">
                Number should be valid.
              </div>
            </div>
            <div class="mb-2 col-4">
              <label for="location" class="form-label">Location</label>
              <input type="text" name="location" class="form-control" placeholder="Enter Location"
                required />
                <div class="valid-feedback">
                  It is Correct!
                </div>
                <div class="invalid-feedback">
                  Location should be valid.
                </div>
            </div>
          </div>
          <div class="mb-2">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="country" placeholder="Enter Country" required />
            <div class="valid-feedback">
              It is Correct!
            </div>
            <div class="invalid-feedback">
              Country should be valid.
            </div>
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </div>
    </form>
  </body>